.header 
{
	width:70%;
	margin:auto;
	justify-content:center;
	height:20px;
	text-align:center;
	
}
.question .wrapper
{
	width:100%;
	margin:auto;
}
.question
{
	background-color:blue;
	height:100px;
	width:100%
}